
body{
    background-color: rgba(8, 53, 105, 0.986);
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.center-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

/* Mobile compatibility */
@media (max-width: 600px) {
    .center-img {
        height: 60vh;
    }
    .center-img img {
        max-width: 90vw;
    }

}
